

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333;
}

header {
    background-color: #025c2f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    text-align: center;
}

header img {
    max-width: 20%;
    height: auto;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #c9fa16;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: orangered;
}



.about-section {
    text-align: center;
    padding: 20px;
}

.about-section h1 {
    color: #ff9900; 
    font-size: 36px;
    margin-bottom: 10px;
}

.about-section p {
    color: #810606;
    font-size: 18px;
    margin-bottom: 20px;
}

.about-section img {
    max-width: 100%;
    height: auto;
    transition: transform 0.4s ease; 
}

.about-section .team-members {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.about-section .team-member {
    flex: 0 1 calc(30% - 20px);
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about-section .team-member img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #ff9900; 
}

.about-section .team-member h3 {
    color: #ff9900; 
    margin: 10px 0;
}

.about-section .team-member p {
    color: #888;
    margin: 10px;
}

